body{
  margin: 0;
  background-color: rgb(5, 41, 112); 
}

.filter-selector{
  width: 350px;
}

.container-delete-btn{
  position: relative;
  width: 20px;
  text-align: end;
}

.delete-btn:hover{
  color:#fd0000;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background 1000ms ease;
}
.delete-btn{
  color:#870000;
  background-color: rgb(139, 139, 139);
  position: relative;
  width: 30px;
  height: 30px;
  font-size: 14pt;
}

.show-button{
  cursor: pointer;
  background-color: rgb(255, 217, 0);
  border-radius: 50%;
}

.show-button:hover{
  background-color: rgb(220, 148, 13);
  transition: background 1000ms ease;
}

.button{
  background-color: rgb(219, 219, 33);
}

.modal-select{
  width: 20.5vw;
  justify-content: flex-end;
}

.space{
  margin-left: 20px;
}

/*--------------------Layout Form Start------------------- */
.layout-selector{
  width: 120px;
  font-size: 50%;
  float: "right";
  left: 10px;
}
.layout-rows-selector{
    width: 200px;
    left: 5px;
    font-size: 80%;
}
.container{
 display:flex;
 text-align: right;
  
}
.container-workorder{
  height: 20vh;
}
.form-workorder{
  
}

 

 button{
 margin: auto;
  padding: 5px;
 }

/*--------------------Layout Form End------------------ */

/*--------------------Form START------------------ */
.form{
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
}
.child {
text-align: center;
  /* optionally, to center the content of the child elements */
}
/*--------------------Form End------------------ */

/*-------------------- Accumulative css----------------- */
.border {

  border: 2px solid black;
  width: 5vw;
  display: inline-block;
}

.in-line {
  display: inline-block;

  padding: 10px;
  border: 1px solid black;
  display: inline-flex;
  width: auto;


}

.left {
  position: relative;
  left: 20px;

}

.parent {
  justify-content: space-around;
}

.space-around {
  margin-left: 20px;
}

.center1 {
  display: flex;
  justify-content: center;
}

.item1 {
  /* accumulative box */
  float: left;
}

.item2 {
  /* loss/#blds box */
  float: right;
  /* margin-top: 20px; */

}

.container1 {
  display: flex;
  margin-left: 70px;
  padding: 80px;
}

.spacing {
  width: auto;
  justify-content: center;
  border: 2px solid black;
}

.input1 {
  margin-bottom: -30px;
  margin-left: 15px;

}