body{
  margin: 0;
  background-color: rgb(5, 41, 112); 
}

.filter-selector{
  width: 350px;
}

.container-delete-btn{
  position: relative;
  width: 20px;
  text-align: end;
}

.delete-btn:hover{
  color:#fd0000;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background 1000ms ease;
}
.delete-btn{
  color:#870000;
  background-color: rgb(139, 139, 139);
  position: relative;
  width: 30px;
  height: 30px;
  font-size: 14pt;
}

.show-button{
  cursor: pointer;
  background-color: rgb(255, 217, 0);
  border-radius: 50%;
}

.show-button:hover{
  background-color: rgb(220, 148, 13);
  transition: background 1000ms ease;
}

.button{
  background-color: rgb(219, 219, 33);
}

.modal-select{
  width: 20.5vw;
  justify-content: flex-end;
}

.space{
  margin-left: 20px;
}