body{
  margin: 0;
  background-color: rgb(5, 41, 112); 
}

.filter-selector{
  width: 350px;
}

.container-delete-btn{
  position: relative;
  width: 20px;
  text-align: end;
}

.delete-btn:hover{
  color:#fd0000;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background 1000ms ease;
}
.delete-btn{
  color:#870000;
  background-color: rgb(139, 139, 139);
  position: relative;
  width: 30px;
  height: 30px;
  font-size: 14pt;
}

.show-button{
  cursor: pointer;
  background-color: rgb(255, 217, 0);
  border-radius: 50%;
}

.show-button:hover{
  background-color: rgb(220, 148, 13);
  transition: background 1000ms ease;
}

.button{
  background-color: rgb(219, 219, 33);
}

.modal-select{
  width: 20.5vw;
  justify-content: flex-end;
}

.space{
  margin-left: 20px;
}

/*--------------------Layout Form Start------------------- */
.layout-selector{
  top: -45px;
  width: 100px;
  left: 55px;
  font-size: 50%;

}
.layout-rows-selector{
  top: -45px;
    width: 150px;
    left: 55px;
    font-size: 80%;
}
.container{
 display:flex;
 text-align: right;
  
}


 

 button{
 margin: auto;
  padding: 5px;
 }
/* html {
  height: 100%;
  width: 100%;
}

input[type=numbers],
select {
  font-size: 10px;
  padding: 3px 5px;
  height: 20px;
  width: 40px;
  line-height: 1;
  border-radius: 2px;
  display: inline-block;
  border: 1px solid #ede8e8;
  box-sizing: border-box;
}

label {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}

label-fname {
  align-items: center;
  text-align: right;
}

fieldset {
  border: 1px solid #ddd;
}

form {
  overflow: hidden;
}

input {
  float: center;
  clear: both;
}

div.settings {
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
}

div.settings label {
  text-align: right;
}

table {
  width: 150px;
  height: 50px;
}

tr {
  text-align: center;
}

table,
td {
  border: 1px solid grey;
  border-collapse: collapse;
}

tr.last {
  border-right: none;
} */
/*--------------------Layout Form End------------------ */

/* Accumulative css */
.border{
 
 border: 2px solid black;
 width:5vw;
 display: inline-block;
}
.in-line{
  display: inline-block;
  
 padding: 10px;
  border: 1px solid black;
  display: inline-flex;
  width: auto;
  

}
.left{
  position: relative;
  left: 20px;

}

.parent{
  justify-content: space-around;
}
.space-around{
 margin-left: 20px;
}

.center1 {
  display: flex;
  justify-content: center;
}

